@charset "utf-8";

body {
  font-family: Arial, sans-serif;
  background-color: lightblue;
  margin: 16px;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h1 {
  color: #333;
  text-align: center;
  border: 4px none gray;
  border-radius: 10px;
  margin: auto;
  background-color: white;
  width: 320px;
  font-family: "Kiwi Maru", serif;
  font-weight: 500;
  font-style: normal;
}

h2 {
  text-align: center;
  border-radius: 10px;
  margin: 16px auto;
  width: 50%;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  /* text-decoration: overline; */
}

p {
  color: #666;
  margin: 0;
  width: 70%;
  margin: 16px auto;
  /* overflow: scroll; */
  font-weight: 400;
  font-family: "Zen Kurenaido", sans-serif;
  font-style: normal;
  text-align: center;

}  

article {
  background-color: #fff;
  padding: 16px;
  border: 3px double gray;
  margin: 16px auto;
  width: 50%;
}

form {
  text-align: center;
  margin: 16px auto;
  width: 50%;
}

.card {
  background-image: url(https://tanaka-m2.github.io/card.png);
  margin: 16px auto;
  width: 50%;
}

.zen-kurenaido-regular {
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kiwi-maru-light {
  font-family: "Kiwi Maru", serif;
  font-weight: 300;
  font-style: normal;
}

.kiwi-maru-regular {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}

.kiwi-maru-medium {
  font-family: "Kiwi Maru", serif;
  font-weight: 500;
  font-style: normal;
}

footer {
  text-align: center;
  margin: 16px auto;
  width: 50%;
  border-top: #333 1px solid;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.noto-sans-jp-aaa {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.container {
  border: #333 1px solid;
  border-radius: 20px;
  width: 50%;
  margin: 16px auto;
}

.accaiiCounter {
  margin: 16px auto;
}